<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css">
  <title>Charts</title>
  <link rel="data" href="{{ url_for('static', filename='data/dataa.csv') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/framework7-icons/css/framework7-icons.css">
  <script src="https://kit.fontawesome.com/7e84202197.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>
</head>
<body>
  <div class="bottom-menu">
    <a href="/" class="menu-item"><i class="fas fa-home fa-2x"></i></a>
    <a href="/overview" class="menu-item"><i class="fas fa-chart-bar fa-2x"></i></a>
    <a href="#" class="menu-item menu-item-active"><i class="fas fa-tachometer-alt fa-2x"></i></a>
    <a href="/login" action="/login" class="menu-item"><i class="fas fa-sign-out-alt fa-2x"></i></a>
  </div>
  <div class="side-menu">
    <div class="menu-header">Smart Home</div>
    <a href="/" class="menu-item"><i class="fas fa-home fa-lg"></i>Home</a>
    <a href="/overview" class="menu-item"><i class="fas fa-chart-bar fa-lg"></i>Addit</a>
    <a href="#" class="menu-item menu-item-active"><i ></i>Dash</a>
    {% if not is_guest %}
    <a href="/settings" class="menu-item"><i class="fas fa-gear fa-lg"></i>Prefs</a>
    {% endif %}
    {% if hello_username == 'Guest' %}
      <a href="/login" action="/login" class="menu-item"><i class="fas fa-sign-in-alt fa-lg"></i>Log In</a>
    {% else %}
      <a href="/logout" class="menu-item"><i class="fas fa-sign-out-alt fa-lg"></i>Log Out</a>
    {% endif %}
  </div>



  <div class="content">
    <h3 class="heading">Hey, {{ hello_username }} 👋 Yur device is <span id="status" data-status="{{ status }}">{{ status }}</span></h3>
    <hr class="rounded">
    
    <div class="grid-container">


      <div class="grid">
        {% for sensor, data in sensor_data.items() %}
          <div class="over-card temp-color "> <div class="card-header">
              <h2>{{ sensor }}</h2>
            </div>
            <div class="card-body">
              <div class="value-container">
                <span class="value" id="{{ sensor }}Value">{{ data.value }}</span>
                <span class="unit">{{ data.unit }}</span>
              </div>
              <div class="chart-container">
                <canvas id="{{ sensor }}Canvas"></canvas> </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
    



    </div>
  </div>


  <script>
    async function getData() {
      const response = await fetch("/static/data/dataa.csv");
      const text = await response.text();
      const data = Papa.parse(text, { header: true }).data;
    
      const graphData = {};
      for (const row of data) {
        const sensorName = row.sensor_name;
        if (!graphData[sensorName]) {
          graphData[sensorName] = {
            timestamps: [],
            values: []
          };
        }
    
        const date = new Date(row.timestamp);
        const formattedDate = date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "numeric",
          day: "numeric",
          hour: "numeric",
          minute: "numeric",
          second: "numeric",
          hour12: false,
        });
        graphData[sensorName].timestamps.push(formattedDate);
        graphData[sensorName].values.push(row.value);
      }

       for (const [sensor, sensorData] of Object.entries(graphData)) {
        const ctx = document.getElementById(`${sensor}Canvas`).getContext("2d");
        var gradient = ctx.createLinearGradient(0, 0, 0, 400);
        gradient.addColorStop(0, 'rgba(245,68,54,1)');
        gradient.addColorStop(0.3, 'rgba(245,68,54,0)');   
        gradient.addColorStop(1, 'rgba(245,68,54,0)');
        const chart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: sensorData.timestamps,
            datasets: [{
              label: sensor, 
              fill: true,
              data: sensorData.values,
              borderColor: "#f54436",

              backgroundColor: gradient,
              borderWidth: 2,
              pointRadius: 4,
              pointBackgroundColor: "#f54436",
              pointBorderColor: "#f54436",
              tension: 0.4,
              pointRadius: 0,
            }],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: false,
              },
              tooltips: {
                enabled: false,
              },
              title: {
                display: false,
              },
              point: {
                enabled: false,
              },
            },
            scales: {
              x: {
                border: {
                  display: false,
                },
                grid: {
                  display: false,
                },
                ticks: {
                  display: false,
                },
              },
              y: {
                border: {
                  display: false,
                },
                grid: {
                  display: false,
                },
                ticks: {
                  display: false,
                },
              },
            },
          },
        });
      }
    }
    
    getData();
    

function processTooltipModel(model) {
  if (!model.body) {
    return;
  }
  const tooltip = document.getElementById("tooltip");
  tooltip.style.left = model.caretX + "px";
  tooltip.style.top = model.caretY - 66 - 5 + "px";
  tooltip.style.display = "block";
  tooltip.querySelector(".tooltip-label").textContent = model.dataPoints[0].label;
  tooltip.querySelector(".tooltip-value .value").textContent = "$" + model.dataPoints[0].value;
}
</script>
</body>
</html>
