<!DOCTYPE html>
<html>
<head>
    <title>{{ sensor_name }} Graph</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/framework7-icons/css/framework7-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/graph_styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.2/papaparse.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

</head>
<body>
    <div class="side-menu">
    <div class="button-container">
        <button class="back-button" onclick="window.location.href='/'">
            <i class="f7-icons">arrowtriangle_up_fill</i>Back to Home</button>
        <button class="next-button" onclick="goToNextSensor('{{ sensor_name }}')">
            <i class="f7-icons">grid</i>Export to table</button>    
    </div>
</div>
<div class="content">
    {% for sensor_name in sensor_names %}
    <div class="over-card temp-color">
        <div class="card-header">
            <h2>{{ sensor_name }}</h2>
    
            <div id="averageValue-{{ sensor_name }}" class="smol"></div>
            <div id="minValue-{{ sensor_name }}"  class="smol"></div>
            <div id="maxValue-{{ sensor_name }}"  class="smol"></div> 
        </div>
        <div class="card-body">  
            <div class="chart-container">
                <canvas id="{{ sensor_name }}Canvas"></canvas>
            </div>
        </div>
    </div>
    {% endfor %}
</div>




    <script>
        async function getDataForAllSensors() {
            const response = await fetch("/static/data/dataa.csv");
            const text = await response.text();
            const data = Papa.parse(text, { header: true }).data;
        
            {% for sensor_name in sensor_names %} 
                createGraphForSensor('{{ sensor_name }}', data); 
            {% endfor %}
        }
      
          function createGraphForSensor(sensorName, data) {
            const filteredData = data.filter(row => row.sensor_name === sensorName);
            console.log("Filtered data for", sensorName, ":", filteredData); // <-- Добавлено логирование
            const colorMap = {
                Temperature: "#2F81F7",
                Humidity: "#FF6384",
                Pressure: "#36A2EB",
                CO2: "#FFCE56",
                Inside: "#4BC0C0",
                Outside: "#9966FF",
                Battery: "#FF9F40"
            };
            const datasets = [{
                label: sensorName,
                fill: true,
                data: filteredData.map(row => ({
                    x: new Date(row.timestamp),
                    y: parseFloat(row.value)
                })),
                borderColor: colorMap[sensorName],
                backgroundColor: hexToRgba(colorMap[sensorName], 0.3),
                borderWidth: 2,
                pointRadius: 2,
                tension: 0.2,
            }];
        
            let visiblePoints = 20;
            const ctx = document.getElementById(`${sensorName}Canvas`).getContext("2d");
            const averageValueElement = document.getElementById(`averageValue-${sensorName}`);
            const maxValueElement = document.getElementById(`maxValue-${sensorName}`);
            const minValueElement = document.getElementById(`minValue-${sensorName}`);
        
            let chart;
            function createChart(startIndex) {
                const endIndex = Math.min(startIndex + visiblePoints, datasets[0].data.length);
                const visibleValues = datasets[0].data.slice(startIndex, endIndex).map(d => d.y);
                const average = visibleValues.reduce((sum, value) => sum + value, 0) / visibleValues.length;
                averageValueElement.textContent = `Average: ${average.toFixed(2)}`; 
                const max = visibleValues.reduce((maxVal, currentVal) => currentVal > maxVal ? currentVal : maxVal, -Infinity); 
                maxValueElement.textContent = `Maximum: ${max.toFixed(2)}`;
                const min = visibleValues.reduce((minVal, currentVal) => currentVal < minVal ? currentVal : minVal, Infinity);
                minValueElement.textContent = `Minimum: ${min.toFixed(2)}`;
                const chart = new Chart(ctx, {
                    type: "line",
                    data: {
                        datasets: datasets,
                    },
                    options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    pan: {
                        enabled: true,
                        mode: 'x',
                     },
                    plugins: {
                        legend: {
                            display: true,
                            position: "top",
                        },
                    },
                    scales: {
                        x: {
                            type: 'linear',
                            min: datasets[0].data[startIndex].x.getTime(),
                            max: datasets[0].data[endIndex - 1].x.getTime(),
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 10,
                                callback: function(value, index, values) {
                                    return new Date(value).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                                }
                            },
                            title: {
                                display: true,
                                text: 'Time'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: sensorName
                            },
                            suggestedMin: Math.min(...datasets[0].data.map(d => d.y)) - 2,
                            suggestedMax: Math.max(...datasets[0].data.map(d => d.y)) + 2,
                        }
                    },
                    pan: {
                        enabled: true,
                        mode: 'x',
                        onPan: function({chart}) {
                            chart.update('none');
                        }
                    },
                }
            });
            return chart;
        }

        chart = createChart(datasets[0].data.length - visiblePoints);
    }
    getDataForAllSensors();
</script>
</body>
</html>