<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="data" href="{{ url_for('static', filename='data/dataa.csv') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/framework7-icons/css/framework7-icons.css">
  <script src="https://kit.fontawesome.com/7e84202197.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>

  <title>Smart Home Monitor</title>
  
</head>
<body>
  <div id="notification"></div>
  <div class="bottom-menu">
    <a href="#" class="menu-item"><i class="fas fa-home fa-2x"></i></a>
    <a href="/overview" class="menu-item"><i class="fas fa-chart-bar fa-2x"></i></a>
    <a href="/charts" class="menu-item"><i class="fas fa-tachometer-alt fa-2x"></i></a>
    <a href="/login" action="/login" class="menu-item"><i class="fas fa-sign-out-alt fa-2x"></i></a>
  </div>

  <div class="side-menu">
    <div class="menu-header">Smart Home</div>
    
    
    <a href="#" class="menu-item menu-item-active"><i ></i>Home</a>
    <a href="/overview" class="menu-item"><i class="fas fa-chart-bar fa-lg"></i>Addit</a>
    <a href="/charts" class="menu-item"><i class="fas fa-tachometer-alt fa-lg"></i>Dash</a>
    {% if not is_guest %}
    <a href="/settings" class="menu-item"><i class="fas fa-gear fa-lg"></i>Settings</a>
    {% endif %}
    {% if hello_username == 'Guest' %}
      <a href="/login" action="/login" class="menu-item"><i class="fas fa-sign-in-alt fa-lg"></i>Log In</a>
    {% else %}
      <a href="/logout" class="menu-item"><i class="fas fa-sign-out-alt fa-lg"></i>Log Out</a>
    {% endif %}
  </div>
  <div class="content">
    <h3 class="heading">Hey, {{ hello_username }} 👋 Yur device is <span id="status" data-status="{{ status }}">{{ status }}</span></h3>

    <hr class="rounded">
    
    <div class="grid-container"  id="agg">
      <div class="backdrop--------------">
      </div>
      <div class="big-card">
        <div class="date-time-container">
          <p class="day">There</p>
          <p class="month">sould be</p>
          <p class="date">your date</p>
        </div>
        <p class="time">sad...</p>
      </div>
      <div class="grid">
        {% for sensor, data in sensor_data.items() %}
        <div class="card">
          <i class="f7-icons icon-in-card">{{ data.icon }}</i>
          <h3 class="text">{{ sensor }}</h3>
          <p class="text">
            Value:
            <span id="{{ sensor }}Value">{{ data.value }}</span>

            {{ data.unit }}
          </p>
          <div class="indicator">
            <div class="bar" title="{{ data.value }}%" style="height: {{ data.value }}%"></div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="grid">
      <div class="big-card some-color">
        <h2 class="some-color">Some textttttttttttt </h2>
        <h3 class="some-color">Another one </h3>
      </div>
      <div class="big-card">
        <div class="slider-container">
          <h3 for="switch">Toggle: On/Off</h3>
          <input type="checkbox" id="switch" class="switch" >
        </div>
    </div>
    </div>

    </div>
  </div>

  <script>
    /*
    const card = document.querySelector(".card");
const popup = document.getElementById("popup");

card.addEventListener("click", () => {
  console.log("Включена всплывашка");
  popup.classList.add("visible");
});


window.addEventListener("click", (event) => {
  if (event.target !== card && !event.target.closest("#popup")) {
    popup.classList.remove("visible");
  }
});







    const checkbox = document.querySelector("#switch");

    checkbox.addEventListener("change", () => {
      if (checkbox.checked) {
        console.log("Включена темная тема");
        document.body.classList.add("dark-theme");
        // 
      } else {
        console.log("Включена светлая тема");
        document.body.classList.remove("dark-theme");
        // 
      }
    });


    */ 


    function updateDateTime() {
      const monthNames = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
      const dayElement = document.querySelector(".day");
      const dateElement = document.querySelector(".date");
      const monthElement = document.querySelector(".month");
      const timeElement = document.querySelector(".time");
    

      const now = new Date();   
    
      const yea = { year: "numeric", };
      const mo =  { month: "long",};
      const da =  { day: "numeric",};
      const ti =  { hour: "numeric",
                    minute: "numeric",};
    
    
      dayElement.textContent = now.toLocaleDateString("en-US", da);
      dateElement.textContent = now.toLocaleDateString("en-US", yea);
      monthElement.textContent = now.toLocaleDateString("en-US", mo);
      timeElement.textContent = now.toLocaleTimeString("en-US", ti);
    }
    
    updateDateTime();
    setInterval(updateDateTime, 1000); 



    var status = document.getElementById("status").getAttribute("data-status");
    console.log("Уведомление было кликнуто.");
    function updateData() {
      if (status !== "Offline") {
        fetch('/data')
          .then(response => {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error('Ошибка при получении данных');
            }
          })
          .then(data => {
            Object.keys(data).forEach(sensor => {
              console.log(`${sensor}Value`);
              document.getElementById(`${sensor}Value`).textContent = data[sensor].value;
              console.log(data[sensor].value);
            });
            Object.keys(data).forEach(sensor => {
              const element = document.getElementById(`${sensor}Value`);
              if (element) {
                  element.innerText = data[sensor].value;
              } else {
                  console.error(`Element with id "${sensor}Value" not found`);
              }
          });
          
           
            var settings = {
              "backgroundColor": "#333333", 
              "chartColor": "#cdb3d5",
              "chartLinesColor": "#fff",
              "textColor": "#fff"
            };
          })
          .catch(error => {
            console.error(error);
          });
      }
    }
    updateData();
    setInterval(updateData, 5500);

    function refreshSortable() {
      const dragAndDropItems = document.getElementById('card');
      if (dragAndDropItems.sortable) {
        dragAndDropItems.sortable.destroy(); 
      }
    
      new Sortable(dragAndDropItems, {
        animation: 350,
        chosenClass: 'team-member-chosen',
        dragClass: 'team-member-drag'
      });
    }
</script>
</body>
</html>
